DSA Reminder.json
{
  "name": "DSA Reminder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 19
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "10f8cefc-bd1c-474b-9781-b0a029adc8e2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1CekhOhSdBUVShjqOgUljEsGlCs6y7SJshq9HSqhXqgU",
          "mode": "list",
          "cachedResultName": "DSA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CekhOhSdBUVShjqOgUljEsGlCs6y7SJshq9HSqhXqgU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CekhOhSdBUVShjqOgUljEsGlCs6y7SJshq9HSqhXqgU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Pending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "4f6b4540-afa0-4870-be12-f049a2dc0f46",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "087abfdmSLom0KDh",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst randomIndex = Math.floor(Math.random() * items.length);\n\nreturn [\n  {\n    json: items[randomIndex].json\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "959954c9-0706-4e2d-b90b-3217a60ca28d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "jeshtitha@gmail.com",
        "subject": "=Your DSA Problem for today",
        "emailType": "text",
        "message": "=\nProblem: {{$json[\"Problem\"]}}  \nLink: {{$json[\"Link\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        640,
        -160
      ],
      "id": "787b88ab-da06-4564-babc-fd97eaeaa54a",
      "name": "Send a message",
      "webhookId": "4fac20c6-0ca0-4e4c-824c-c5bf6d1a0d4f",
      "credentials": {
        "gmailOAuth2": {
          "id": "POeEOupOUB6NWTEb",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1CekhOhSdBUVShjqOgUljEsGlCs6y7SJshq9HSqhXqgU",
          "mode": "list",
          "cachedResultName": "DSA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CekhOhSdBUVShjqOgUljEsGlCs6y7SJshq9HSqhXqgU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CekhOhSdBUVShjqOgUljEsGlCs6y7SJshq9HSqhXqgU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Problem": "={{$json[\"Problem\"]}}",
            "Status": "Done"
          },
          "matchingColumns": [
            "Problem"
          ],
          "schema": [
            {
              "id": "Problem",
              "displayName": "Problem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        640,
        80
      ],
      "id": "f3c34d9f-08e0-4a47-9bbd-356930b1f3f5",
      "name": "Update row in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "087abfdmSLom0KDh",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1914136d-709b-4a5b-b982-033bf43d2b6b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7d455df21f77c0b0886a3a258ed62b4caa1195b3f0c72c5df69e43c5079f2a44"
  },
  "id": "t2OsgdHE26QpLBly",
  "tags": []
}